<div class="post" style="position: relative;" onmouseover="$('<%= "#" + dom_id(item) %>').show();" onmouseout="$('<%= "#" + dom_id(item) %>').hide();">
  
	<div class="entry"><%= safe(item.content) %>
	  <% if logged_in? %><span class="star"><a href="#" class="starred">&#9733;</a></span></div><% end %>
  <!-- p>Tags: <% item.tag_array.each do |tag| %><%= link_to tag, tag_url(tag) %> <% end %></p -->
	
	<div class="metadata">
	  Posted by <%= user_link(item) %> 
	  at <%= item.created_at.strftime("%R") %> 
	  - <%= link_to pluralize(item.comments.size, 'comment'), "#{item_path(item)}/#comments" %> 
  </div>
  
  <% div_for(item, :class => "admin-actions") do %>
	  <% if admin? %> 
	    <%= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete %>
	  <% end %>

	  <% if item.user == current_user || admin? %> 
      <%= link_to 'Edit', edit_item_path(item) %>
	  <% end %>
	<% end %>
</div>

