<div class="post" style="position: relative;" id="item_wrapper_for_<%= item.id %>">
  
	<div class="entry">
	<%= safe(item.content) %>
  <!-- p>Tags: <% item.tag_array.each do |tag| %><%= link_to tag, tag_url(tag) %> <% end %></p -->
	</div>
	
	<div class="metadata">
	  Posted by <%= user_link(item) %> 
	  at <%= item.created_at.strftime("%R") %> 
	  - <%= link_to pluralize(item.comments.size, 'comment'), "#{item_path(item)}/#comments" %> &amp; <%= link_to pluralize(item.stars.size, 'star'), "#{item_path(item)}/#stars", :id => "item_#{item.id}-star-count"%>
	  <% if logged_in? %>
	   &ndash; <%= star_link item %>
	  <% end %>
  </div>
  
  <% div_for(item, :class => "admin-actions") do %>
	  <% if admin? %> 
	    <%= link_to 'Remove', item, :confirm => 'Are you sure?', :method => :delete %>
	  <% end %>

	  <% if item.user == current_user || admin? %> 
      <%= link_to 'Edit', edit_item_path(item) %>
	  <% end %>
	<% end %>
</div>
